hidden_states/
vector_gpt_trainer/
plots/
results/

# IGNORE EVERYTHING inside folder
logs/**
# BUT ALLOW .gitkeep in folder
!logs/.gitkeep

# IGNORE EVERYTHING inside folder
plots/**
!plots/.gitkeep

# IGNORE EVERYTHING inside folder
results/**
!results/.gitkeep
